.container{
    display: flex;
    flex: 1;
    padding: 15px;
}
.section{
    flex: 1;
    font-size: 13pt;
    font-weight: bold;
    font-style: normal;
}
.section:nth-child(1){
    text-align: start
}
.section:nth-child(2){
    text-align: right;
}