.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}

.carouselButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.carouselButtonPrev {
  left: 0;
}

.carouselButtonNext {
  right: 0;
}

.carouselItem {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.carouselItem:hover {
  transform: scale(1.05);
}