.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.body {
  width: 600px;
}


.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.successMessage {
  color: #28a745;
  margin-top: 10px;
}

.errorMessage {
  color: #ff0000;
  margin-top: 5px;
  font-size: 14px;
}