.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 80vw;
}

.actionForm {
  width: 100%;
  margin: 0 0 1em 0;
}

.successMessage {
  color: #28a745;
  margin-top: 10px;
}

.errorMessage {
  color: #ff0000;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .forgotPasswordForm {
    width: 350px;
  }

  .card {
    display: block;
    height: auto;
  }
}