.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #007bff80;
}

.header {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.card {
  width: 560px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.errorMessage {
  color: #dc3545;
  margin-top: 10px;
  font-size: 14px;
}

h2 {
  margin: 0 0 0.67em;
}

