.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 80vw;
}

.containerSaveData {
  width: 100%;
}

.saveData.saveData {
  justify-content: flex-start;
  margin: 0.5em 0 0;
}

.actionForm {
  width: 100%;
  margin: 0 0 1em 0;
}

.forgotPassword {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.25em 0;
}

.errorMessage {
  color: #dc3545;
  margin-top: 10px;
  font-size: 14px;
}

@media screen and (min-width: 769px) {
  .loginForm {
    width: 350px;
  }

  .card {
    display: block;
    height: auto;
  }
}