.homePageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.graphsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: red;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1%;
    background-color: rgb(244, 149, 115);
}

.productContainer {
    /* background-color: rgb(103, 255, 80);*/
    width: 100%;
}

.accountContainer {
    /*background-color: rgb(255, 80, 173);*/
    padding: 1%;
}