.homePageContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.accountsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.graphs {
  flex: 1;
}

.graphsContainer canvas[style] {
  min-width: 300px !important;
  min-height: 200px !important;
  width: 100% !important;
  height: 100% !important;
}