.container {
    flex-direction: column;
    max-width: 1200px;
    padding: 20px;
  }
  
  .header {
    margin-bottom: 15px;
    flex: 1;
  }
  
  .body {
    flex: 1;
  }
  
  .actions {
    margin-top: 15px;
    flex: 1;
  }
  