.container {
  flex: 1;
    flex-direction: column;
    padding: 10px 200px 10px 10px;
  }
  
  .header {
    margin-bottom: 15px;
    flex: 1;
  }
  
  .body {
    flex: 1;
  }
  
  .actions {
    margin-top: 35px;
    display: flex;
  }
  