.buttonForm {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;
    width: 100%;
}

.buttonForm-primary {
    background-color: #007bff;
    color: #ffffff;
}

.buttonForm-secondary {
    background-color: #6c757d;
    color: #ffffff;
}

.buttonForm-success {
    background-color: #8EB010;
    color: #ffffff;
}

.buttonForm-info {
    background-color: #17a2b8;
    color: #ffffff;
}

.buttonForm-warning {
    background-color: #ffc107;
    color: #212529;
}

.buttonForm-danger {
    background-color: #dc3545;
    color: #ffffff;
}

.buttonForm:not(:disabled):hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button:disabled {
    background-color: #d3d3d3;
    color: #808080;
    cursor: not-allowed;
}