.cardContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 0.75rem;
  gap: 1rem;
}

.backgroundGrey {
  background-color: #f8f9fd;
}

.backgroundWhite {
  background-color: white;
}

.iconColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #9b9b9b;
}


.cardColumn {
  display: flex;
  grid-column: auto;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: auto;
}

.rowHeader {
  font-size: 1rem;
}

.labelNumber {
  border-radius: 9999px;
  background-color: #98f6e4;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #0f5e59;
}

.rowText {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.columnMoney {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: x-large;
}
