/* Style the navigation bar */
.navbar {
    background-color: #ffffff;
    overflow: auto;
    position: absolute;
    z-index: 10;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar links */
.navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    border-bottom: 5px solid #ffffff;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    cursor: pointer;
    border-bottom: 5px solid #8EB010;
    transition: 0.1s ease-in;
}



/* Current/active navbar link */
.active {
    background-color: #8EB010;
}

.navbar-right Link {
    max-height: 250px;
  }

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}