/* Style the navigation bar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 4vw 6px;
}

.navbarLeft {
  max-height: 250px;
  border-bottom: 5px solid #fff;
}

.navbarRight {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* Navbar links */
.navbarRight a {
  font-size: 17px;
  text-decoration: none;
  color: #1a1b1b;
  border-bottom: 5px solid #fff;
  padding-bottom: 0.5rem;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  cursor: pointer;
  border-bottom: 5px solid #8EB010;
  transition: 0.1s ease-in;
}

/* Current/active navbar link */
.active {
  background-color: #8EB010;
}

@media screen and (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .navbarRight a {
    float: none;
    display: block;
    text-align: left;
    padding: 12px 0;
  }

  .navbarRight {
    flex-direction: column;
  }
}