/* Style the navigation bar */
.navbar {
    background-color: #ffffff;
    overflow: auto;
    padding: 8px 16px;
}

/* Navbar links */
.navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    cursor: pointer;
    border-bottom: 5px solid #04AA6D ;
    transition: 0.1s ease-in;
}



/* Current/active navbar link */
.active {
    background-color: #04AA6D;
}

.navbar-right Link {
    max-height: 250px;
  }

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}