/* Estilos para la ventana modal */
.modal {
    position: fixed; /* Mantiene la ventana modal en la posición fija */
    z-index: 1; /* Asegura que la ventana modal esté en la parte superior */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
  }
  
  /* Estilos para el contenido de la ventana modal */
  .modalContent {
    background-color: #fefefe;
    margin: 25vh 15%;
    padding: 40px;
    border: 1px solid #888;
    border-radius: 10px; /* Ajusta el radio de la esquina para suavizar el contorno */
  }

.title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modalContent {
    margin: 15% auto; /* Centra el contenido verticalmente y lo desplaza un poco hacia abajo */
    width: 30%;
  }
}