.mainContainer{
    margin: 0;
    background-color: #FFF;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.container{
    display: flex;
    justify-content: space-around; /* Ajusta la distribución de espacio entre los elementos */

}

.containerText{
    text-align: led;
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 40px;
}

.containerImage{
    flex:1;
}

.containerImage img{
    background-size: cover;
    width: 600px;
    border-radius: 10px;
}
