.mainContainer {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around; /* Ajusta la distribución de espacio entre los elementos */
}

.containerImage {
    flex:1;
}

.containerImage img {
    background-size: cover;
    width: 90vw;
    border-radius: 10px;
}

.containerText {
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
    gap: 1rem;
}

@media screen and (min-width: 425px) {
    .mainContainer {
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) {
    .mainContainer {
        margin: 0;
        padding: 8vh 4vw;
        background-color: #f5f5f5;
        flex-direction: row;
        gap: 2rem;
    }

    .containerImage img {
        width: 600px;
    }
}