.container {
  height: 80vh;
  display: grid;
  grid-template-columns: 100px 1fr 2fr 100px;
  grid-template-rows: 200px 1fr 50px;
  grid-template-areas:
    ". . . ."
    ". layout image ."
    ". . . .";
}

.image {
  width: 100%;
}

.layoutContainer {
  grid-area: layout;
}

.imageContainer {
  grid-area: image;
}

