.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.image {
  width: 100%;
}

.layoutContainer {
  grid-area: layout;
  align-self: end;
}

.imageContainer {
  grid-area: image;
  align-self: end;
}

@media screen and (min-width: 769px) {
  .container {
    height: 100vh;
    display: grid;
    padding: 0 4vw;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 200px;
    grid-template-areas:
    "layout image"
    ". .";
  }
}