.container {
  padding: 0 8vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px auto 200px;
  grid-template-areas:
    ". ."
    "layout image"
    ". .";
}

.image {
  width: 100%;
}

.layoutContainer {
  grid-area: layout;
  align-self: end;
}

.imageContainer {
  grid-area: image;
  align-self: end;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 4vw;

  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 8vw;
  }
}