.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 350px;
}

.containerCheckbox {
  display: flex;
  flex-direction: row;
}

.actionForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 0 1em 0;
  align-items: center;
}

.forgotPassword {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0.25em 0;
}
