.containerForm {
    max-width: 600px; /* Ajusta el ancho del contenedor según tu preferencia */
    padding: 20px; /* Añade un poco de espacio interno al contenedor */
    border: 2px solid #333; /* Ajusta el color del contorno según tu preferencia */
    border-radius: 10px; /* Ajusta el radio de la esquina para suavizar el contorno */
}
