.card {
  max-width: 500px;
  padding: 2rem 2.5rem;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  background: white;
}

.card h3 {
  margin: 0 0 1.5rem 0;
}

.contentTitle {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 4em;
  width: 4em;
  fill: #9b9b9b;
}

@media screen and (min-width: 769px) {
  .contentTitle {
    flex-direction: row;
  }
}