.containerOpen {
  display: flex;
}

.containerClosed {
  display: flex;
}

.containerSidenav {
  width: 250px;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.containerSidenavClosed {
  height: 100%;
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.sidenav {
  position: fixed;
  width: 250px;
  height: 100vh;
  padding: 0;
  transition: width 0.3s ease-in-out;
  background-color: #fff;
  /*border: 1px solid #c6c6c6;*/
  /*border-radius: 0.5rem;*/
}

.headerSidenav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  transition: width 0.3s ease-in-out;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

.sideItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*font-weight: none;*/
  /*font-variant: normal;*/
  /*font-size: 13pt;*/
}

.linkText {
  padding-left: 16px;
  font-size: 16px;
}

.linkTextClosed {
  composes: linkText;
  margin: auto;
  text-align: left;
  align-items: center;
  padding: 0;
  /* visibility: hidden; */
}

.itemActive{
  background-color: #f5f5f5;
}

.sideItem:hover {
  background-color: #8eb010;
  color: #fff;
  border-radius: 0.5rem;
}

.containerButton {
  width: 250px;
  height: auto;
}

.menuBtn {
  color: #fff;
  background-color: #2F4858;
  border: none;
  cursor: pointer;
  padding: 1.5rem 1.25rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
