.containerOpen {
  display: flex;
}

.containerClosed {
  display: flex;
}

.sidenav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(215, 215, 215);
  padding-top: 28px;
  flex-shrink: 0;
}

.sidenavClosed {
  composes: sidenav;
  transition: width 0.3s ease-in-out;
  width: 60px;
}

.content {
  flex: 1;
  overflow: auto;
  padding: 20px; /* Ajusta según sea necesario */
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-variant: normal;
}

.linkText {
  padding-left: 16px;
}

.linkTextClosed {
  composes: linkText;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 0%;
  /* visibility: hidden; */
}

.itemActive{
  background-color: #1937561c;
}

.sideitem:hover {
  background-color: #1d2f421c;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}
