/* Estilo para el botón */
.buttonForm {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  font-size: 1rem;
  width: 100%;

  background-color: #8EB010;
  color: #ffffff;
}

.buttonForm:not(:disabled):hover {
  filter: brightness(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-color: #d3d3d3;
  color: #808080;
  cursor: not-allowed;
}