/* Estilo para el botón */
.buttonForm {
  padding: 10px 15px;
  background-color: #8eb010; /* Puedes cambiar esto al color que desees */
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px; /* Ajusta el radio para hacer el botón redondeado */
  transition: background-color 0.3s ease-in-out; /* Agrega una transición para suavizar el cambio de color */

  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  border-radius: 20px;
  height: 50px;
  width: 150px;
}

/* Estilo adicional para el botón al pasar el ratón sobre él */
.buttonForm:hover {
  background-color: #cbec54; /* Puedes ajustar este color al que prefieras */
  transform: scale(1.05); /* Ajusta la escala para dar un efecto de presión */
}
